@import "font-awesome.css";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {color: #222;}
body {font-size: 1em; line-height: 1.4; font-family: 'Raleway', 'Helvetica Neueu', Helvetica, Arial, sans-serif; background:url('/images/corrugation.png');}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
img {vertical-align: middle;}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {margin:0 auto; text-align:center; }
h1 {font-size:11em; font-weight:100; line-height:1.4; margin:0; padding:0;}
.item .icon:before {font-size: 13em;}
.item {background:rgba(155,155,155,.3); display:inline-block; margin:0 1%; padding:20px; text-align:center; width:40%;}
.item b {display:block;}















/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {display: none !important; visibility: hidden;}
.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}